<section id="top">
  <div class= "container">
    <div class= "col-md-4">
      <%= render "posts/top_posts" %>
    </div>
    <div class= "col-md-4">
      <%= render "images/top_images" %>
    </div>
    <div class= "col-md-4">
      <%= render "blogs/top_blogs" %>
    </div>
  </div>
</section>
<section id="groups">
  <div class= "container">
    <div class= "col-md-12">
      <%= render "groups/top_groups" %>
    </div>
  </div>
</section>
<section id="users">
  <div class= "container">
    <div class= "col-md-12">
      <%= render "users/top_users" %>
    </div>
  </div>
</section>
